body{
    font-family: courier;
    background-color: cornsilk;
}

#members{
    padding: 10px 10px 10px 10px;
    text-align: center;
}


#secret{
    text-decoration: line-through;
}

#name{
    font-size: 30px;
    font-weight: bold;
}

#space{
    text-align: center;
    margin-top: 70px;
}