#check{
    text-align: center;
    margin-top: 100px;
}
#title{
    font-family: courier;
    letter-spacing: 30px;
    text-align: center;
    margin-top: 150px;
    text-decoration:bold;
}
#textBoxes{
    display: block;
    padding: 10px 10px 10px 10px;
    text-align: center;
    
}
body{
    background-color: beige;
}